<div class="row mt-2">
  <form [formGroup]="searchForm" class="d-flex">
    <div class="col-sm-10 me-sm-2">
      <input type="text" class="form-control" placeholder="Search Weather" formControlName="search"
             [ngClass]="{
             'is-invalid': searchForm.get('search').touched && searchForm.get('search').errors,
             'is-valid': searchForm.get('search').valid }">
      <div *ngIf="searchForm.get('search').hasError('required')" class="invalid-feedback">
        <div>Search is required!</div>
      </div>
    </div>

    <div class="col-sm-2">
      <select class="form-select" formControlName="searchBy" (change)="onSearchByChange()">
        <option value="-1" disabled>Search By</option>
        <option value="name">Name</option>
        <option value="zip">Zip Code</option>
      </select>
    </div>
  </form>

  <div class="col-sm-10">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action cursor-pointer"
        *ngFor="let res of results" (click)="onResultSelect(res)">
        {{ res.displayValue }}
      </li>
    </ul>
  </div>

</div>
