$primary-color: #4183e2;
$primary-color-light: #f0f8ff;
$secondry-color: #273449;
$warning-color: #f78f2d;
$success-color: rgba(146, 208, 80, 1);
$danger-color: #f33e1d;
$gray-1: #777777;
$gray-2: #d3d3d3;
$gray-2-5: #e0e0e0;
$gray-3: #f3f3f3;
$gray-4: #f5f5f5;
$gray-5: #b2aaaa;
$black-color: #000000;
$white-color: #ffffff;
$yellow: #f2c94c;
